@font-face {
  font-family: "Creepy";
  font-display: swap;
  src: url(../fonts/creepy.woff2) format("woff2"),
    url(../fonts/creepy.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lunacy";
  font-display: swap;
  src: url(../fonts/lunacy.woff2) format("woff2"),
    url(../fonts/lunacy.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
